@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  padding: 0;
  margin: 0;
}
#navbar {
  width: 100vw;
  height: 15vh;
  background-color: black;
}
a {
  text-decoration: none;
  color: white;
}
#navbar li {
  color: white;
  text-decoration: none;
  font-size: 50px;
  font-family: "Abril Fatface", cursive;
  transition: 1s;
  height: 50px;
}
#navbar li:hover {
  background-color: rgba(255, 255, 255, 0.76);
  height: 70px;
  color: black;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#techImage {
  height: 11vh;
  width: 6vw;
  border-radius: 120%;
}
#theTable {
  width: 90vw;
}
#theTitle {
  margin-top: 100px;
  font-size: 100px;
  font-family: "Nosifer", cursive;
  color: rgba(255, 255, 255, 0.842);
  box-shadow: 15px 15px 15px white;
  width: 800px;
}

#theTable td {
  border: rgba(255, 0, 0, 0.692) 2px solid;
  padding: 23px;
  font-size: 14px;
}
#theTable td:hover {
  background-color: rgba(255, 255, 255, 0.507);
}
#theTable th {
  font-size: xx-large;
  font-family: "Nosifer", cursive;
}
.tableImgs {
  width: 300px;
  height: 200px;
}
body {
  background-color: black;
  color: rgba(255, 0, 0, 0.521);
  overflow-x: hidden;
}

#container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
td {
  color: white;
}

#theTable td {
  font-size: x-large;
  font-family: "Abril Fatface", cursive;
}
footer {
    margin-top: 200px;
  width: 100vw;
  background-color: black;
  text-align: center;
}
